@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
main{
    background-color: ;
}
.navbar{
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    background-image: linear-gradient(90deg, #DE337D 0%, #B533DE 120%);
    border-bottom: 1px solid white;
}
.navbar-brand{
    font-size: 24px;
    color: white !important;
    margin: 0 0 0 0;
    letter-spacing: -1px;   
    display: flex;
}

/* .hero-banner{
    width: 100vw;
    height: 50px;
    background-image: url("./images/pexels-engin-akyurt-1487701HG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -20px;
    border: 1px solid rgb(0, 0, 0);
} */
.hero-image{
    width: 100vw;
    height: 250px;
    background-image: url("./images/WhatsApp\ Image\ 2021-05-13\ at\ 21.08.52.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -85px;
}
h2{
    margin: 30px 0 0px 0;
    background-color: #DE337D;
    color: white;
    font-size: 1.6rem;
    letter-spacing: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.199);
    /* box-shadow: 0px 2px 10px -2px #B533DE; */
    
}
p{
    background-color: rgb(231, 231, 231);
    text-align: center;
    margin: 5px 0 30px 0;
    color: black;
    box-shadow: 0px 1px 10px -2px rgb(97, 97, 97);
}
footer{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color: #FA3D3A;
}
footer a{
    color: white;
}