@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Brygada+1918:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    background-color: #ffffff;
}
.navbar{
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    background-image: linear-gradient(90deg, #DE337D 25%, #B533DE 120%);
    border-bottom: 1px solid white;
}
.navbar-brand{
    font-size: 24px;
    color: white !important;
    margin: 0 0 0 0;
    letter-spacing: -1px;   
    display: flex;
    font-family: 'Playfair Display', serif;
}
.hero-image{
    width: 100vw;
    height: 270px;
    background-image: url("./images/Romi.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -85px;
}
.about{
    font-family: 'Brygada 1918', serif;
}
.pantu-container{
    position: relative;
}
.pantu{
    width: 100vw;
    height: 450px;
    background-image: url("./images/pantumedias.jpeg");
    background-size: cover;
    border: 10px solid #DE337D;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-size: 0.9rem;
    position: absolute;
    bottom: 200px;
    width: 100%;
    height: 40px;
    background-color: #de337dd0;
}
.text, h2 {
    font-family: 'Playfair Display', serif;
}
h2{
    width: 100vw;
    height: 23px !important;
    margin: 30px 0 0px 0;
    background-color: #DE337D;
    color: black;
    font-size: 1.8rem;
    letter-spacing: 3px;
    border: 1px solid rgba(0, 0, 0, 0.199);
    /* box-shadow: 0px 2px 10px -2px #DE337D; */
}
.section-container{
    display: flex;
    flex-direction: column;
}
.sections-text{
    width: 100%;
    min-height: 30px;
    background-color: rgb(231, 231, 231);
    text-align: center;
    margin: 5px 0 10px 0;
    color: black;
    box-shadow: 0px 1px 10px -2px rgb(97, 97, 97);
}
.contact{
    text-align: center;
    width: 100%;
}
.separator-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}
.separator-container img{
    border-radius: 100%;
}
.separator{
    width: 40%;
    height: 3px;
    background-color: #de337dce;
    border: 1px solid rgba(0, 0, 0, 0.233);
}
.b-100{
    border-radius: 100px;
    text-decoration: none;
}
.bi-star{
    color: rgb(216, 203, 27)
}
.coment{
    font-family: 'Brygada 1918', serif;
    font-size: 0.9rem;
    background-image: linear-gradient(90deg, #DE337D 25%, #B533DE 120%);
    text-align: center;
    margin: 5px 0 30px 0;
    padding: 5px;
    color: white;
    box-shadow: 0px 1px 10px -2px rgb(97, 97, 97);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100px;
}
.font{
    font-size:1.5rem;
}
.footer__img-container{
    width: auto;
}
.footer__img-container img{
    position: relative;
     left: 0px;
}
.footer__a-container{
    display: flex; 
    flex-direction: column; 
    margin-left: 10px;
    width: 85%;
}
footer{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color: #2b1d2e;
}
footer a{
    color: white;
}
@media screen and (min-width: 500px){
    .hero-image{
        background-position: 0 -150px;
    }
}
@media screen and (min-width: 700px) {
    main{
        width: 60vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .navbar-collapse{
        flex-grow: initial;
        position: relative;
        right: 20px;
    }
    .hero-image{
        width: 60vw;
        height: 400px;
        margin: 0 auto;
        background-position: 0 -160px;
    }
    .pantu{
        width: 60vw;
    }
    .instagram-media{
        margin:0 auto !important;
    }
    #carouselExampleSlidesOnly{
        display: none;
    }
    .catalogo-container{
        display: flex;
        flex-direction: column;
        width: 60vw;
    }
    .catalogo-container .inner{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
    }
    .clothes-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-gap: 5px;
        width: 100%;
        height: 800px;
        margin-top: 20px;
    }
    .clothes-container div, .texture{
        background-size: cover;
        background-repeat: no-repeat;
    }
    .clothes-container div:hover{
        transition: all 1s;
        transform: scale(1.4);
    }
    .pic1{
        grid-column: 1/2;
        grid-row: 1/6;
        background-image: url("./images/poncho2.jpg");
    }
    .pic2{
        background-image: url("./images/gorrito.jpeg");
        grid-column: 1/2;
        grid-row: 6/11;
    }
    .pic3{
        background-image: url("./images/barbijo-negro.jpg");
        grid-row: 1/6;
    }
    .pic4{
        background-image: url("./images/bebev.jpg");
        grid-column: 2/3;
        grid-row: 6/11;
    }
    .pic5{
        background-image: url("./images/bebe.jpg");
        grid-row: 1/6;
        }
    .pic6{
        background-image: url("./images/barbijo-blanco.jpg");
        grid-column: 3/4;
        grid-row: 6/11;
    }
    .verano1{
        background-image: url("./images/bikini\ grande.jpg");
        background-position: 0;
    }
    .verano2{
        background-image: url("./images/corpi.jpeg");
        background-position: -150px;
    }
    .verano3{
        background-image: url("./images/corpiñovioleta.jpg");
    }
    .verano4{
        background-image: url("./images/corpiñoturquesa.jpg");
        background-position: -100px;
    }
    .verano5{
        background-image: url("./images/Slice.png");
    }
    .verano6{
        background-image: url("./images/Romi.jpeg");
    }
    .title{
        width: 60vw;
        margin-top: 100px;
    }
}

@media screen and (min-width: 1024px){
    .navbar-collapse{
        font-size: 1.2rem;
    }
    .hero-image{
        height: 600px;
        background-position: 0 -300px;
    }
    .about{
        font-size: 1.4rem;
    }
    .pantu{
        height: 600px;
        background-position: 0 -150px;
    }
    .pantu-container:hover{
        transition: ease 1s;
        transform: scale(1.05);
    }
    .text{
        font-size: 1.5rem;
        height: 50px;
        bottom: 280px;
    }

    
    .description-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 70px 0;
    }
    .coment, .b-100{
        min-width: 300px;
        border-radius: 0px;
        box-shadow: 1px 1px 5px -1px rgb(97, 97, 97);
    }
    .sections-text{
        max-width: 100%;
    }
    .section-container{
        align-items: center;
    }
    .texture{
        margin-bottom: 10px;
        width: 100%;
        height: 300px;
        background-image: url("./images/pexels-anete-lusina-4792079.jpg");
    }
    .about{
        width: inherit;
    }
    .cc-container{
        display: flex;
        justify-content: center;
        width: 60vw;
        margin-bottom: 20px;
    }
    .cc-container > div{
        width: 50%;
    }
    .materials{
        width: 60vw;
        border-radius: 100px;
    }
    
@media screen and (min-width: 2560px){
    .hero-image{
        height: 800px;
        background-position: 0 -400px;
    }
    .about{
        font-size: 1.5rem;
    }
}